body {
  color: #333;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  line-height: 1.7;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 15px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1280px;
    margin: 0 auto;
  }
}
.header__logo img {
  width: 160px;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 44px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__link {
  color: #333;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
.header__register {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__register {
    display: inline-block;
    color: #f6f7f7;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%; /* 27.2px */
    letter-spacing: 3px;
    padding: 9px 54px;
    border-radius: 48px;
    background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
    -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}
.header .drawer-icon {
  width: 40px;
  height: 20px;
}
.heading {
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}

.heading__main {
  color: #228ddd;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 170%; /* 61.2px */
  letter-spacing: 3.6px;
}

.heading__sub {
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 2.66px;
}

.button {
  text-align: center;
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .button {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .button {
    margin-top: 60px;
  }
}
.button a {
  color: #f6f7f7;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 170%; /* 27.2px */
  letter-spacing: 3px;
  display: inline-block;
  padding: 9px 54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 48px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1.75%, #2188de), color-stop(97.75%, #2bcbc6));
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
}

.blog {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 428px;
}
@media screen and (min-width: 768px) {
  .blog {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog {
    max-width: 834px;
  }
}
.blog__inner {
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .blog__inner {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog__inner {
    padding-right: 47px;
    padding-left: 47px;
  }
}
.blog__items {
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .blog__items {
    margin-top: 52px;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blog__items {
    margin-top: 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 20px;
  }
}
.blog__item {
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 16px;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 5px 7px 34px 0px #f1f1f1;
          box-shadow: 5px 7px 34px 0px #f1f1f1;
}
.blog__item img {
  width: 330px;
}
.blog__label {
  position: absolute;
  top: 12px;
  right: 15px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  background: #2392db;
  padding: 3px 32px;
}
.blog__contents-title {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: 170%; /* 25.5px */
}
.blog__contents {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 170%; /* 22.1px */
}
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.news__inner {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .news__inner {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
.news__heading {
  color: #238fdc;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 170%; /* 51px */
  letter-spacing: 3px;
  position: relative;
}
.news__heading::after {
  content: "";
  width: 60px;
  height: 3px;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background: #2bc8c8;
}
.news__items {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .news__items {
    margin-top: 60px;
  }
}
.news__items > * + * {
  position: relative;
}
.news__items > * + *::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #e3e3e3;
}
.news__item {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.news__item:last-child {
  border-bottom: 1px solid #e3e3e3;
}
@media screen and (min-width: 768px) {
  .news__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.news__time {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
@media screen and (min-width: 768px) {
  .news__time {
    min-width: 119px;
  }
}
.news__title {
  font-size: 15px;
  font-weight: 400;
  line-height: 170%; /* 25.5px */
}
.news__more {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .news__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 26px;
  }
}
.news__pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__more-button {
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__more-button {
    margin-top: 0;
  }
}
.news__more-button a {
  color: #2392db;
  font-weight: 700;
  line-height: 170%; /* 27.2px */
  letter-spacing: 3px;
  padding: 5px 24px;
  border-radius: 2px;
  border: 1px solid #2392db;
  -webkit-box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
}

.num {
  color: #707070;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.44px;
  width: 36px;
  height: 36px;
  border: 1px solid #828282;
  text-align: center;
  line-height: 36px;
}

.concept {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;
}
@media screen and (min-width: 768px) {
  .concept {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.concept__inner {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .concept__inner {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .concept__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
}
.concept__image {
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.concept__image img {
  width: 310px;
}
@media screen and (min-width: 768px) {
  .concept__image img {
    width: 450px;
  }
}
.concept__text {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .concept__text {
    margin-top: 0;
    text-align: left;
  }
}
.concept__heading {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;
  line-height: 170%; /* 40.8px */
  text-align: left;
}
.concept__description {
  margin-top: 30px;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 200%; /* 30px */
}
.concept__button {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .concept__button {
    margin-top: 36px;
    text-align: left;
  }
}

.seminar {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .seminar {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.seminar__inner {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .seminar__inner {
    padding-right: 100px;
    padding-left: 100px;
  }
}
.seminar__boxes {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}
@media screen and (min-width: 768px) {
  .seminar__boxes {
    margin-top: 38px;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
}
.seminar__box {
  border-radius: 6px;
  border: 0px solid #707070;
  background: #fff;
  -webkit-box-shadow: 5px 7px 34px 0px #f1f1f1;
          box-shadow: 5px 7px 34px 0px #f1f1f1;
  padding: 24px 12px 28px;
}
@media screen and (min-width: 768px) {
  .seminar__box {
    padding: 24px 24px 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.seminar__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .seminar__image {
    width: 31.3953488372%;
  }
}
.seminar__image img {
  width: 324px;
}
.seminar__body {
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .seminar__body {
    width: 65.6976744186%;
    margin-top: 2;
  }
}
.seminar__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.seminar__label {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 6px 12px 5px;
  border-radius: 2px;
  background: #2392db;
  display: inline-block;
}
.seminar__time {
  color: #333;
  text-align: right;
  font-weight: 500;
  line-height: normal;
}
.seminar__lead {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.seminar__text {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 170%; /* 23.8px */
}
.seminar__detail {
  margin-top: 22px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .seminar__detail {
    margin-top: 20px;
  }
}
.seminar__detail a {
  color: #2392db;
  font-size: 14px;
  font-weight: 500;
  line-height: 170%; /* 23.8px */
  padding: 8px 44px;
  border-radius: 2px;
  border: 1px solid #2392db;
  display: inline-block;
}

.price {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;
}
@media screen and (min-width: 768px) {
  .price {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.price__inner {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .price__inner {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.price__boxes {
  margin-top: 46px;
  margin-right: 34px;
  margin-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .price__boxes {
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }
}
.price__box {
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  border: 0px solid #707070;
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.price__plan-name {
  color: #2392db;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.price__plan-price {
  margin-top: 10px;
  font-weight: 700;
}
.price__plan-price span {
  color: #2392db;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 3.6px;
  margin-right: 4px;
  margin-left: 4px;
}
.price__content {
  margin-top: 30px;
  overflow-x: auto;
}
.price__table {
  width: 261px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}
.price__table th {
  text-align: left;
  padding-left: 12px;
}
.price__table td {
  text-align: right;
  padding-right: 12px;
}
.price__table th,
.price__table td {
  vertical-align: middle;
}
.price__table tr {
  height: 39px;
  border-bottom: 1px solid #c2c2c2;
}
.footer {
  padding-top: 46px;
  padding-bottom: 11px;
  background: -webkit-gradient(linear, left top, right top, from(#2390dc), to(#2bc8c8));
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  text-align: center;
  color: #fff;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 64px;
  }
}
.footer__inner {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 87px;
  }
}
.footer__company-info img {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .footer__company-info img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__company-info {
    text-align: left;
  }
}
.footer__access {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__access {
    margin-top: 16px;
  }
}
.footer__address {
  font-weight: 400;
  line-height: 1.7;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    padding-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .footer__privacy-policy {
    padding-right: 25px;
    padding-left: 25px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}
@media screen and (min-width: 768px) {
  .footer__tokusho {
    padding-left: 25px;
  }
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}
.footer__copyright {
  margin-top: 36px;
  padding-top: 11px;
}
.footer__copyright small {
  font-style: normal;
  font-weight: 500;
  line-height: 1.4166666667;
}