body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  background: #FAFAFA;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.inner {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.heading__main {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
}
@media screen and (min-width: 768px) {
  .heading__main {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading__sub {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.12px;
}
@media screen and (min-width: 768px) {
  .heading__sub {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  border: 2px solid currentColor;
  border-radius: 60px;
  padding: 8px 28px;
  display: inline-block;
  background: #fff;
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  min-width: 150px;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: #fabe00;
}
.button--type2 {
  background-color: #111;
  color: #fff;
}
.button--type2:hover {
  background-color: #fff;
  color: #111;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 15px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 21px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 7px;
  }
}
.header__logo a img {
  width: 100px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 135px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .header__nav a {
    font-weight: 700;
    letter-spacing: 0.48px;
  }
}
.header__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: #f5810e;
}
.header__open {
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}
.header .drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;
}
.header .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.header .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.header .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.header .drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background-color: #111;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.header .drawer-icon__bar:nth-of-type(2) {
  top: 9px;
}
.header .drawer-icon__bar:nth-of-type(3) {
  top: 18px;
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.drawer-content__link {
  display: block;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
}
.drawer-content__button {
  margin-top: 14px;
  text-align: right;
}

.first-view {
  border-radius: 20px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B819), to(#F0D320));
  background: linear-gradient(180deg, #F8B819 0%, #F0D320 100%);
}
@media screen and (min-width: 768px) {
  .first-view {
    border-radius: 30px;
    max-width: calc(100% - 60px);
  }
}
.first-view__inner {
  padding: 50px 20px 256px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .first-view__inner {
    padding-top: 110px;
    padding-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
.first-view__main-text span {
  -webkit-font-feature-settings: "palt" on;
          font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .first-view__main-text span {
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
    text-align: left;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5px;
  }
}
.first-view__main-text2 {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .first-view__main-text2 {
    margin-top: 14px;
  }
}
.first-view__sub-text {
  text-align: center;
  font-weight: 700;
  margin-top: 26px;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .first-view__sub-text {
    font-size: 18px;
    letter-spacing: 0.54px;
    text-align: left;
    margin-top: 20px;
  }
}
.first-view__download {
  margin-top: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .first-view__download {
    margin-top: 30px;
    text-align: left;
  }
}
.first-view__img {
  position: absolute;
  right: 0;
  bottom: -106px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .first-view__img {
    width: 57.6923076923%;
    text-align: right;
    bottom: -88px;
    right: 30px;
  }
}
.first-view__img img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .first-view__img img {
    width: 600px;
  }
}

.case {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .case {
    margin-top: 82px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
.case__inner {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .case__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.case__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .case__title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.case__items {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
}
@media screen and (min-width: 768px) {
  .case__items {
    margin-top: 47px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}
.case__item {
  text-align: center;
}
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.news__card {
  padding: 40px 12px;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
}
@media screen and (min-width: 768px) {
  .news__card {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-right: 9.2105263158%;
    padding-left: 9.2105263158%;
  }
}
.news__heading {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__heading {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: left;
  }
}
.news__lists {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .news__lists {
    margin-top: 29px;
  }
}
.news__lists > * + * {
  position: relative;
}
.news__lists > * + *::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #e3e3e3;
}
.news__list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.news__more {
  margin-top: 18px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .news__more {
    margin-top: 15px;
  }
}
.news__more a {
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  border-bottom: 2px solid currentColor;
  padding-bottom: 8px;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
.news__more a:hover {
  color: #fabe00;
}
.news .news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding-top: 9px;
  padding-bottom: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.news .news-link:hover {
  background-color: #fff9e5;
}
@media screen and (min-width: 768px) {
  .news .news-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
  }
}
.news .news-link__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news .news-link__meta {
    gap: 14px;
    width: 247px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.news .news-link__date {
  color: #333;
  font-weight: 400;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .news .news-link__date {
    min-width: 119px;
  }
}
.news .news-link__label {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  border-radius: 2px;
  padding: 2px 10px;
  background: #e4780c;
  min-width: 63px;
  text-align: center;
}
.news .news-link__label.is-news {
  background: #e4780c;
}
.news .news-link__label.is-column {
  background: #ecb815;
}
.news .news-link__label.is-event {
  background: #389b47;
}
.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.about__inner {
  text-align: center;
}
.about__heading-logo {
  text-align: center;
}
.about__heading-logo img {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .about__heading-logo img {
    width: 230px;
  }
}
.about__contents {
  margin-top: 150px;
  padding-top: 288px;
  padding-bottom: 105px;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__contents {
    margin-top: 176px;
    padding-top: 284px;
    padding-bottom: 100px;
  }
}
.about__contents::before {
  content: "";
  position: absolute;
  display: block;
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B819), to(#F0D320));
  background: linear-gradient(180deg, #F8B819 0%, #F0D320 100%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about__contents::before {
    width: 800px;
    height: 800px;
  }
}
.about__img {
  position: absolute;
  top: -110px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__img {
    top: -126px;
  }
}
.about__img img {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about__img img {
    width: 330px;
  }
}
.about__description {
  font-weight: 700;
  line-height: 2.3;
}
.about__more-text {
  margin-top: 43px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
}
@media screen and (min-width: 768px) {
  .about__more-text {
    margin-top: 43px;
  }
}
.about__more-button {
  margin-top: 12px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__more-button {
    margin-top: 15px;
  }
}
.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .movie {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.movie__inner {
  padding-right: 15px;
  padding-left: 15px;
}
.movie__video {
  margin-top: 32px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .movie__video {
    margin-top: 56px;
  }
}
.movie__video iframe {
  width: 345px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 345/194;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .movie__video iframe {
    width: 640px;
    height: auto;
    aspect-ratio: 640/360;
  }
}

.howto {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .howto {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.howto__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 112px;
  margin-top: 104px;
}
@media screen and (min-width: 768px) {
  .howto__box {
    margin-top: 89px;
    gap: 75px;
  }
}
.howto__contents {
  border-radius: 30px;
  background: #fffbf0;
  text-align: center;
  padding: 54px 40px 48px;
}
@media screen and (min-width: 768px) {
  .howto__contents {
    border-radius: 40px;
    padding: 44px 96px 56px;
  }
}
.howto__contents-heading {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .howto__contents-heading {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
}
.howto__contents-heading img {
  width: 85px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: calc(100% + 16px);
}
@media screen and (min-width: 768px) {
  .howto__contents-heading img {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .is-type2 .howto__contents-heading {
    padding-right: 0;
    padding-left: 95px;
  }
  .is-type2 .howto__contents-heading img {
    right: auto;
    left: 0;
  }
}
.howto__contents-steps {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 65px;
}
@media screen and (min-width: 768px) {
  .howto__contents-steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    margin-top: 85px;
  }
}
.howto__contents-step {
  padding-top: 50px;
  padding-bottom: 22px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .howto__contents-step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.howto__contents-step .steps {
  border-radius: 45px;
  border: 3px solid #111;
  background: #f5810e;
  width: 90px;
  height: 90px;
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.is-type2 .howto__contents-step .steps {
  background: #fabe00;
}
.howto__contents-step .step-text {
  font-size: 13px;
  font-weight: 700;
  line-height: 1; /* 13px */
  letter-spacing: 1.3px;
}
.howto__contents-step .step-num {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  line-height: 1; /* 34px */
  letter-spacing: 3.4px;
}
.howto__contents-step .step-image img {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .howto__contents-step .step-image img {
    width: 200px;
  }
}
.howto__contents-step .step-contents-text {
  margin-top: 8px;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.merit {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .merit {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.merit__steps-box {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .merit__steps-box {
    margin-top: 60px;
    gap: 40px;
  }
}
.merit .merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;
}
@media screen and (min-width: 768px) {
  .merit .merit-box {
    padding: 20px 18px;
  }
}
@media screen and (min-width: 768px) {
  .merit__step-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 920px;
  }
}
@media screen and (min-width: 768px) {
  .merit .is-type2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.merit__content-image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .merit__content-image {
    width: 38.0434782609%;
  }
}
.merit__content-image img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .merit__content-image img {
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .merit__texts {
    width: 56.5217391304%;
  }
}
.merit__content-title {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  font-family: Montserrat;
}
@media screen and (min-width: 768px) {
  .merit__content-title {
    margin-top: 0;
    gap: 28px;
  }
}
.merit__content-num {
  color: #fabe00;
  font-size: 70px;
  font-weight: 600;
  line-height: 1; /* 70px */
}
@media screen and (min-width: 768px) {
  .merit__content-num {
    font-size: 110px;
  }
}
.merit__content-lead-text {
  font-weight: 700;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .merit__content-lead-text {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.merit__content-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2; /* 28px */
}
@media screen and (min-width: 768px) {
  .merit__content-text {
    font-size: 15px;
    margin-top: 16px;
  }
}

.download-section {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8B819), to(#F0D320));
  background: linear-gradient(180deg, #F8B819 0%, #F0D320 100%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .download-section {
    padding-top: 60px;
    padding-bottom: 58px;
  }
}
.download-section__text {
  text-align: center;
  font-weight: 700;
  line-height: 2; /* 32px */
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .download-section__text {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}
.download-section__inline-block {
  display: inline-block;
  font-weight: inherit;
}
.download-section__button {
  margin-top: 16px;
}

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .compare {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__title {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 43px;
  overflow-x: auto;
  padding-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .compare__content {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .compare__table {
    width: 1000px;
  }
}
.compare__table th,
.compare__table td {
  text-align: center;
  font-weight: 700;
  height: 60px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .compare__table th,
  .compare__table td {
    height: 100px;
  }
}
.compare__table th:nth-child(1),
.compare__table td:nth-child(1) {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(1),
  .compare__table td:nth-child(1) {
    width: 250px;
  }
}
.compare__table th:nth-child(2),
.compare__table td:nth-child(2) {
  width: 90px;
  background: #fff9e5;
  font-size: 16px;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2),
  .compare__table td:nth-child(2) {
    width: 250px;
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
.compare__table th:nth-child(2) img,
.compare__table td:nth-child(2) img {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2) img,
  .compare__table td:nth-child(2) img {
    width: 123px;
  }
}
.compare__table th {
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}
.compare__table td {
  font-size: 14px;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .compare__table td {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
}
.compare__table thead th {
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .compare__table thead th {
    letter-spacing: 2px;
  }
}
.compare__table tbody tr {
  border-top: 1.5px solid #000;
}
@media screen and (min-width: 768px) {
  .compare__table tbody tr {
    border-top-width: 3px;
  }
}
.compare__table tbody th,
.compare__table tbody td {
  height: 58.5px;
}
@media screen and (min-width: 768px) {
  .compare__table tbody th,
  .compare__table tbody td {
    height: 100px;
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__attention {
    display: none;
  }
}

.qa {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .qa {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .qa__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 860px;
  }
}
.qa__boxes {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}
@media screen and (min-width: 768px) {
  .qa__boxes {
    margin-top: 74px;
  }
}
.qa__box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;
}
.qa__box.is-open .qa-box__head::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.qa .qa-box__head {
  padding: 29px 37px 17px 12px;
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__head {
    padding: 29px 77px 17px 17px;
  }
}
.qa .qa-box__head::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  width: 9.26px;
  height: 6.834px;
  background: url(../img/qa-arrow.png) no-repeat center center/contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__head::after {
    right: 19px;
  }
}
.qa .qa-box__head-icon {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1; /* 22px */
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid currentColor;
  background: #f5810e;
  position: absolute;
  top: -26px;
  left: 12px;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__head-icon {
    left: 18px;
  }
}
.qa .qa-box__head-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__head-text {
    font-size: 16px;
    line-height: 27px; /* 27.2px */
    letter-spacing: 1.28px;
  }
}
.qa .qa-box__body {
  padding: 13px 14px 17px 12px;
  display: none;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__body {
    padding: 3px 33px 17px 17px;
  }
}
.qa .qa-box__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__a {
    gap: 10px;
  }
}
.qa .qa-box__a-icon {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1; /* 22px */
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid currentColor;
  background: #fabe00;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.qa .qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 11px;
}
@media screen and (min-width: 768px) {
  .qa .qa-box__a-text {
    font-size: 16px;
    line-height: 170%; /* 27.2px */
    letter-spacing: 1.28px;
    padding-top: 7px;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.contact__box {
  border-radius: 30px;
  background: #fff;
  padding: 60px 20px;
}
@media screen and (min-width: 768px) {
  .contact__box {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.contact__form {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    margin-top: 50px;
    max-width: 612px;
    margin-right: auto;
    margin-left: auto;
  }
}
.contact__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.contact__privacy {
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__privacy {
    margin-top: 29px;
  }
}
.contact__button {
  margin-top: 28px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__button {
    margin-top: 35px;
  }
}
@media screen and (min-width: 768px) {
  .contact .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
}
.contact .form-field__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .contact .form-field__head {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.contact .form-field__label {
  font-weight: 700;
  line-height: 1.4375;
}
.contact .form-field__tag {
  border-radius: 2px;
  background: #ee8013;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 1; /* 11px */
  letter-spacing: 1.98px;
  display: inline-block;
  padding: 6px 8px 5px;
}
.contact .form-field__tag.is-option {
  background: #43b549;
}
.contact .form-field__item {
  margin-top: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .contact .form-field__item {
    margin-top: 0;
  }
}
.contact .form-field .form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  font-weight: 700;
  padding: 12px 43px 11px 13px;
  background: url(../img/Polygon\ 1.png) no-repeat center right 14px/13.217px 10.182px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact .form-field .form-select:hover, .contact .form-field .form-select:focus {
  border-color: #fabe00;
  outline: none;
}
.contact .form-field .form-textarea {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: 13px;
  height: 180px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact .form-field .form-textarea:hover, .contact .form-field .form-textarea:focus {
  border-color: #fabe00;
  outline: none;
}
.contact .form-field__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .contact .form-field__radios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.contact .form-field__radio {
  line-height: 1.4375;
}
.contact .form-text {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: 12px 13px 11px;
  width: 100%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact .form-text:hover, .contact .form-text:focus {
  border-color: #fabe00;
  outline: none;
}
.contact .form-radio:hover .form-radio__text::before {
  border-color: #fabe00;
}
.contact .form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.contact .form-radio__input:checked + .form-radio__text::after {
  opacity: 1;
}
.contact .form-radio__input:focus + .form-radio__text::before {
  border: 3px solid #fabe00;
}
.contact .form-radio__text {
  font-weight: 700;
  padding-left: 28px;
  position: relative;
}
.contact .form-radio__text::before, .contact .form-radio__text::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.contact .form-radio__text::before {
  width: 24px;
  height: 24px;
  border: 3px solid #111;
  left: 0;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact .form-radio__text::after {
  width: 10px;
  height: 10px;
  background: #f5810e;
  left: 7px;
  opacity: 0;
}
.contact .form-checkbox:hover .form-checkbox__text::before {
  border-color: #fabe00;
}
.contact .form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.contact .form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.contact .form-checkbox__input:focus + .form-checkbox__text::before {
  border-color: #fabe00;
}
.contact .form-checkbox__text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
}
.contact .form-checkbox__text::before, .contact .form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact .form-checkbox__text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact .form-checkbox__text::after {
  width: 23px;
  height: 17.53px;
  left: -1px;
  margin-top: -1.2px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
  opacity: 0;
}
.contact .form-checkbox__text a {
  text-decoration: underline;
  font-weight: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.contact .form-checkbox__text a:hover {
  color: #f5810e;
}

.footer {
  background: #111;
  padding-top: 8%;
  padding-bottom: 12px;
  text-align: center;
}
.footer__copyright {
  color: #f5f5f5;
  font-size: 12px;
  line-height: 1; /* 12px */
  letter-spacing: 0.96px;
}

.pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min(13.3333333333%, 50px);
}
@media screen and (min-width: 768px) {
  .pagetop {
    right: 16px;
    bottom: 30px;
    width: 76px;
  }
}