@use "variable";
@use "breakpoints";

body {
  font-size: variable.$font-size-base;
  line-height: variable.$line-height-base;
  color: variable.$color-base;
  background: variable.$background-base;
  font-family: variable.$font-family-ja;
}

.hidden-sp {
  @include breakpoints.mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include breakpoints.mq(pc) {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.inner {
  padding-right: 15px;
  padding-left: 15px;
  @include breakpoints.mq(pc) {
    padding-right: 30px;
    padding-left: 30px;
    max-width: calc(variable.$width-inner + 30px * 2);
    margin-right: auto;
    margin-left: auto;
  }
}

.heading {
  text-align: center;
  font-family: variable.$font-family-en;
}

.heading__main {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;

  @include breakpoints.mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading__sub {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.12px;

  @include breakpoints.mq(pc) {
    font-size: variable.$font-size-base;
    font-weight: 400;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  border: 2px solid currentColor;
  border-radius: 60px;
  padding: calc(10px - 2px) calc(30px - 2px);
  display: inline-block;
  background: #fff;
  font-size: 16px;
  line-height: 1.7;
  color: variable.$color-base;
  min-width: 150px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #fabe00;
  }

  &--type2 {
    background-color: #111;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #111;
    }
  }
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 22px 15px;
    @include breakpoints.mq(pc) {
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 21px;
      max-width: calc(variable.$width-inner + 30px * 2);
      margin: 0 auto;
    }
  }

  &__logo {
    @include breakpoints.mq(pc) {
      padding-top: 7px;
    }
    a {
      img {
        width: 100px;
        display: block;
        @include breakpoints.mq(pc) {
          width: 135px;
        }
      }
    }
  }

  &__nav {
    display: none;

    @include breakpoints.mq(pc) {
      display: flex;
      align-items: center;
      gap: 40px;

      a {
        font-weight: 700;
        letter-spacing: 0.48px;
      }
    }
  }

  &__link {
    transition: color 0.3s;
    &:hover {
      color: #f5810e;
    }
  }

  &__button {
  }

  &__open {
    margin-top: 3px;

    @include breakpoints.mq(pc) {
      display: none;
    }
  }

  .drawer-icon {
    width: 36px;
    height: 21px;
    position: relative;
    z-index: 51;

    &.is-checked {
      .drawer-icon__bar {
        &:nth-of-type(1) {
          top: 10px;
          transform: rotate(30deg);
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:nth-of-type(3) {
          top: 10px;
          transform: rotate(-30deg);
        }
      }
    }

    &__bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 3px;
      border-radius: 6px;
      background-color: variable.$color-base;
      transition: transform 0.3s linear, top 0.3s linear;

      &:nth-of-type(1) {
      }
      &:nth-of-type(2) {
        top: 9px;
      }
      &:nth-of-type(3) {
        top: 18px;
      }
    }
  }
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }

  &__menu {
  }

  &__link {
    display: block;
    font-weight: 700;
    letter-spacing: 0.48px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
  }

  &__button {
    margin-top: 14px;
    text-align: right;
  }
}

.first-view {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
  background: variable.$color-gradation;

  @include breakpoints.mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }

  &__inner {
    padding: 50px 20px 256px;
    position: relative;

    @include breakpoints.mq(pc) {
      padding-top: 110px;
      padding-bottom: 109px;
      padding-left: 30px;
      padding-right: 30px;
      max-width: calc(1040px + 30px * 2);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main-text {
    span {
      font-feature-settings: "palt" on;
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 2.2px;

      display: block;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      background: #fff;
      padding: 10px;
      border-radius: 5px;

      @include breakpoints.mq(pc) {
        font-size: 38px;
        letter-spacing: 3.8px;
        padding: 12px 16px;
        text-align: left;
        margin-right: 0;
        margin-left: 0;
        border-radius: 5px;
      }
    }
  }

  &__main-text1 {
  }

  &__main-text2 {
    margin-top: 8px;

    @include breakpoints.mq(pc) {
      margin-top: 14px;
    }
  }

  &__sub-text {
    text-align: center;
    font-weight: 700;
    margin-top: 26px;
    letter-spacing: 0.48px;

    @include breakpoints.mq(pc) {
      font-size: 18px;
      letter-spacing: 0.54px;
      text-align: left;
      margin-top: 20px;
    }
  }

  &__download {
    margin-top: 22px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 30px;
      text-align: left;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: -106px;
    width: 100%;
    text-align: center;

    @include breakpoints.mq(pc) {
      width: calc(600px / 1040px * 100%);
      text-align: right;
      bottom: -88px;
      right: 30px;
    }

    img {
      width: 345px;

      @include breakpoints.mq(pc) {
        width: 600px;
      }
    }
  }
}

.case {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    margin-top: 82px;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  &__inner {
    padding-left: 40px;
    padding-right: 40px;

    @include breakpoints.mq(pc) {
      max-width: calc(920px + 40px * 2);
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-align: center;

    @include breakpoints.mq(pc) {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  &__items {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 15px;

    @include breakpoints.mq(pc) {
      margin-top: 47px;
      grid-template-columns: repeat(4, 1fr);
      gap: 26px 40px;
    }
  }

  &__item {
    text-align: center;
    img {
    }
  }
}

.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__inner {
    // padding-right: 15px;
    // padding-left: 15px;
    // @include breakpoints.mq(pc) {
    //   padding-right: 30px;
    //   padding-left: 30px;
    //   max-width: calc(variable.$width-inner + 30px * 2);
    //   margin-right: auto;
    //   margin-left: auto;
    // }
  }

  &__card {
    padding: 40px 12px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 9px 30px 0px #f4f4f4;

    @include breakpoints.mq(pc) {
      border-radius: 30px;
      padding-top: 40px;
      padding-bottom: 34px;
      padding-right: calc(105px / 1140px * 100%);
      padding-left: calc(105px / 1140px * 100%);
    }
  }

  &__heading {
    font-family: variable.$font-family-en;
    color: variable.$color-base;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3.8px;
    text-align: center;

    @include breakpoints.mq(pc) {
      font-size: 50px;
      letter-spacing: 5px;
      text-align: left;
    }
  }

  &__lists {
    margin-top: 28px;
    @include breakpoints.mq(pc) {
      margin-top: 29px;
    }

    > * + * {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: #e3e3e3;
      }
    }
  }

  &__list {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__more {
    margin-top: 18px;
    text-align: right;

    @include breakpoints.mq(pc) {
      margin-top: 15px;
    }
    a {
      font-weight: 700;
      line-height: 1;
      display: inline-block;
      border-bottom: 2px solid currentColor;
      padding-bottom: calc(10px - 2px);
      transition: color 0.3s, border-color 0.3s;

      &:hover {
        color: #fabe00;
      }
    }
  }

  .news-link {
    display: flex;
    flex-direction: column; //flexを指定した場合、デフォルトは横並びだがdirectionを指定して縦並びにできる
    gap: 8px;
    padding-top: 9px;
    padding-bottom: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fff9e5;
    }

    @include breakpoints.mq(pc) {
      flex-direction: row;
      padding-top: 12px;
      padding-bottom: 12px;
      gap: 0;
    }

    &__meta {
      display: flex;
      align-items: center;
      gap: 12px;

      @include breakpoints.mq(pc) {
        gap: 14px;
        width: 247px;
        flex-shrink: 0;
      }
    }

    &__date {
      color: #333;
      font-weight: 400;
      white-space: nowrap;

      @include breakpoints.mq(pc) {
        min-width: 119px;
      }
    }

    &__label {
      color: #fff;
      font-size: 11px;
      font-weight: 700;
      border-radius: 2px;
      padding: 2px 10px;
      background: #e4780c;
      min-width: 63px;
      text-align: center;

      &.is-news {
        background: #e4780c;
      }

      &.is-column {
        background: #ecb815;
      }

      &.is-event {
        background: #389b47;
      }
    }

    &__title {
    }
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include breakpoints.mq(pc) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__inner {
    text-align: center;
  }

  &__heading-logo {
    text-align: center;

    img {
      width: 180px;

      @include breakpoints.mq(pc) {
        width: 230px;
      }
    }
  }

  &__contents {
    margin-top: 150px;
    padding-top: 288px;
    padding-bottom: 105px;
    position: relative;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 176px;
      padding-top: 284px;
      padding-bottom: 100px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: variable.$color-gradation;
      z-index: -1;

      @include breakpoints.mq(pc) {
        width: 800px;
        height: 800px;
      }
    }
  }

  &__img {
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    text-align: center;

    @include breakpoints.mq(pc) {
      top: -126px;
    }

    img {
      width: 320px;

      @include breakpoints.mq(pc) {
        width: 330px;
      }
    }
  }

  &__description {
    font-weight: 700;
    line-height: 2.3;
  }

  &__more-text {
    margin-top: 43px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.28px;

    @include breakpoints.mq(pc) {
      margin-top: 43px;
    }
  }

  &__more-button {
    margin-top: 12px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 15px;
    }
    button {
      // font-weight: 700;
      // letter-spacing: 0.48px;
      // border: 2px solid variable.$color-base;
      // border-radius: 60px;
      // padding: calc(10px - 2px) calc(30px - 2px);
      // display: inline-block;
      // background: #fff;
    }
  }
}

.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left / 529px auto;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__heading {
    //text-align: center;
  }

  &__heading-main {
    // font-family: variable.$font-family-en;
    // font-size: 38px;
    // font-weight: 700;
    // line-height: 1;
    // letter-spacing: 3.8px;

    // @include breakpoints.mq(pc) {
    //   font-size: 50px;
    //   letter-spacing: 5px;
    // }
  }

  &__heading-sub {
    // margin-top: 14px;
    // font-family: variable.$font-family-en;
    // font-size: 14px;
    // font-weight: 400;
    // line-height: 1;
    // letter-spacing: 1.12px;

    // @include breakpoints.mq(pc) {
    //   font-size: variable.$font-size-base;
    //   font-weight: 400;
    //   letter-spacing: 1.28px;
    // }
  }

  &__video {
    margin-top: 32px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 56px;
    }

    iframe {
      width: 345px;
      max-width: 100%;
      height: auto;
      aspect-ratio: 345 / 194;
      vertical-align: top;

      @include breakpoints.mq(pc) {
        width: 640px;
        height: auto;
        aspect-ratio: 640 / 360;
      }
    }
  }
}

.howto {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 112px;
    margin-top: 104px;

    @include breakpoints.mq(pc) {
      margin-top: 89px;
      gap: 75px;
    }
  }

  &__contents {
    border-radius: 30px;
    background: #fffbf0;
    text-align: center;
    padding: 54px 40px 48px;

    @include breakpoints.mq(pc) {
      border-radius: 40px;
      padding: 44px 96px 56px;
    }
  }

  &__contents-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    position: relative;

    @include breakpoints.mq(pc) {
      font-size: 22px;
      letter-spacing: 2.2px;
      padding-right: 95px;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      width: 85px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: calc(100% + 16px);

      @include breakpoints.mq(pc) {
        right: 0;
        transform: translateX(0);
        bottom: 0;
      }
    }

    .is-type2 & {
      @include breakpoints.mq(pc) {
        padding-right: 0;
        padding-left: 95px;

        img {
          right: auto;
          left: 0;
        }
      }
    }
  }

  &__contents-steps {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 65px;

    @include breakpoints.mq(pc) {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      margin-top: 85px;
    }
  }

  &__contents-step {
    padding-top: 50px;
    padding-bottom: 22px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: 3px solid variable.$color-base;
    background: #fff;
    position: relative;

    @include breakpoints.mq(pc) {
      //width: 300px;
      //padding: 50px 50px 26px;
      // width: calc(33.3% - 24px * 2 / 3);
      flex: 1;
    }

    .steps {
      border-radius: 45px;
      border: 3px solid variable.$color-base;
      background: #f5810e;
      width: 90px;
      height: 90px;
      font-family: Montserrat;
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -48px;
      left: 50%;
      transform: translateX(-50%);

      .is-type2 & {
        background: #fabe00;
      }
    }

    .step-text {
      font-size: 13px;
      font-weight: 700;
      line-height: 1; /* 13px */
      letter-spacing: 1.3px;
    }

    .step-num {
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      line-height: 1; /* 34px */
      letter-spacing: 3.4px;
    }

    .step-image {
      img {
        width: 160px;

        @include breakpoints.mq(pc) {
          width: 200px;
        }
      }
    }

    .step-contents-text {
      margin-top: 8px;
      font-weight: 700;
      letter-spacing: 0.48px;
    }
  }
}

.merit {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
  }

  &__steps-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include breakpoints.mq(pc) {
      margin-top: 60px;
      gap: 40px;
    }
  }

  .merit-box {
    border-radius: 20px;
    background: #fff;
    padding: 10px 20px 24px;

    @include breakpoints.mq(pc) {
      padding: 20px 18px;
    }
  }

  &__step-content {
    @include breakpoints.mq(pc) {
      display: flex;
      flex-direction: row-reverse;
      gap: 50px;
      align-items: center;
      margin-right: auto;
      margin-left: auto;
      max-width: 920px;
    }
  }

  .is-type2 {
    @include breakpoints.mq(pc) {
      flex-direction: row;
    }
  }

  &__content-image {
    text-align: center;

    @include breakpoints.mq(pc) {
      width: calc(350 / 920 * 100%);
    }

    img {
      width: 200px;

      @include breakpoints.mq(pc) {
        width: 350px;
      }
    }
  }

  &__texts {
    @include breakpoints.mq(pc) {
      width: calc(520 / 920 * 100%);
    }
  }

  &__content-title {
    margin-top: 18px;
    display: flex;
    gap: 14px;
    align-items: center;
    text-align: left;
    font-family: Montserrat;

    @include breakpoints.mq(pc) {
      margin-top: 0;
      gap: 28px;
    }
  }

  &__content-num {
    color: #fabe00;
    font-size: 70px;
    font-weight: 600;
    line-height: 1; /* 70px */
    @include breakpoints.mq(pc) {
      font-size: 110px;
    }
  }

  &__content-lead-text {
    font-weight: 700;
    letter-spacing: 1.6px;

    @include breakpoints.mq(pc) {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  &__content-text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2; /* 28px */

    @include breakpoints.mq(pc) {
      font-size: 15px;
      margin-top: 16px;
    }
  }
}

.download-section {
  background: variable.$color-gradation;
  text-align: center;
  padding-top: 50px;
  padding-bottom: calc(50px - 2px);

  @include breakpoints.mq(pc) {
    padding-top: 60px;
    padding-bottom: calc(60px - 2px);
  }

  &__inner {
  }

  &__text {
    text-align: center;
    font-weight: 700;
    line-height: 2; /* 32px */
    letter-spacing: 0.48px;

    @include breakpoints.mq(pc) {
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }

  &__inline-block {
    display: inline-block;
    font-weight: inherit;
  }

  &__button {
    margin-top: 16px;
  }
}

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__inner {
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  @include breakpoints.mq(pc) {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 43px;
  overflow-x: auto;
  padding-bottom: 38px;

  @include breakpoints.mq(pc) {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  @include breakpoints.mq(pc) {
    width: 1000px;
  }

  th,
  td {
    text-align: center;
    font-weight: 700;
    height: 60px;
    vertical-align: middle;

    @include breakpoints.mq(pc) {
      height: 100px;
    }

    &:nth-child(1) {
      width: 130px;

      @include breakpoints.mq(pc) {
        width: 250px;
      }
    }

    &:nth-child(2) {
      width: 90px;
      background: #fff9e5;
      font-size: 16px;
      letter-spacing: 0.48px;

      @include breakpoints.mq(pc) {
        width: 250px;
        font-size: 25px;
        letter-spacing: 0.75px;
      }

      img {
        width: 70px;

        @include breakpoints.mq(pc) {
          width: 123px;
        }
      }
    }
  }

  th {
    letter-spacing: 0.48px;

    @include breakpoints.mq(pc) {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  td {
    font-size: 14px;
    letter-spacing: 0.42px;

    @include breakpoints.mq(pc) {
      font-size: 16px;
      letter-spacing: 0.48px;
    }
  }

  thead {
    th {
      letter-spacing: 1.6px;

      @include breakpoints.mq(pc) {
        letter-spacing: 2px;
      }
    }
  }

  tbody {
    tr {
      border-top: 1.5px solid #000;

      @include breakpoints.mq(pc) {
        border-top-width: 3px;
      }
    }

    th,
    td {
      height: calc(60px - 1.5px);

      @include breakpoints.mq(pc) {
        height: 100px;
      }
    }
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  @include breakpoints.mq(pc) {
    display: none;
  }
}

.qa {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    @include breakpoints.mq(pc) {
      padding-left: 30px;
      padding-right: 30px;
      max-width: calc(800px + 30px * 2);
    }
  }

  &__title {
  }

  &__boxes {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 42px;

    @include breakpoints.mq(pc) {
      margin-top: 74px;
    }
  }

  &__box {
    border-radius: 10px;
    border: 3px solid variable.$color-base;
    background: #fff;

    &.is-open {
      .qa-box__head {
        &::after {
          transform: rotate(0);
        }
      }

      // .qa-box__body {
      //   display: block;
      // }
    }
  }

  .qa-box {
    &__head {
      padding: calc(32px - 3px) calc(40px - 3px) calc(20px - 3px)
        calc(15px - 3px);
      position: relative;
      display: block;
      width: 100%;

      @include breakpoints.mq(pc) {
        padding: calc(32px - 3px) calc(80px - 3px) calc(20px - 3px)
          calc(20px - 3px);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 14px;
        width: 9.26px;
        height: 6.834px;
        background: url(../img/qa-arrow.png) no-repeat center center / contain;
        transform: rotate(180deg);
        margin-top: 3px;

        @include breakpoints.mq(pc) {
          right: 19px;
        }
      }
    }

    &__head-icon {
      font-family: variable.$font-family-en;
      font-size: 22px;
      font-weight: 700;
      line-height: 1; /* 22px */
      display: grid;
      place-items: center; //上下左右中央
      width: 44px;
      height: 44px;
      border-radius: 22px;
      border: 3px solid currentColor;
      background: #f5810e;
      position: absolute;
      top: -26px;
      left: 12px;

      @include breakpoints.mq(pc) {
        left: 18px;
      }
    }

    &__head-text {
      display: block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.12px;
      text-align: left;

      @include breakpoints.mq(pc) {
        font-size: 16px;
        line-height: 27px; /* 27.2px */
        letter-spacing: 1.28px;
      }
    }

    &__body {
      padding: calc(10px + 3px) calc(17px - 3px) calc(20px - 3px)
        calc(15px - 3px);
      display: none;

      @include breakpoints.mq(pc) {
        padding: 3px calc(36px - 3px) calc(20px - 3px) calc(20px - 3px);
      }
    }

    &__a {
      display: flex;
      gap: 8px;

      @include breakpoints.mq(pc) {
        gap: 10px;
      }
    }

    &__a-icon {
      font-family: variable.$font-family-en;
      font-size: 22px;
      font-weight: 700;
      line-height: 1; /* 22px */
      display: grid;
      place-items: center; //上下左右中央
      width: 44px;
      height: 44px;
      border-radius: 22px;
      border: 3px solid currentColor;
      background: #fabe00;
      flex-shrink: 0;
    }

    &__a-text {
      display: block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.12px;
      flex-grow: 1;
      padding-top: 11px;

      @include breakpoints.mq(pc) {
        font-size: 16px;
        line-height: 170%; /* 27.2px */
        letter-spacing: 1.28px;
        padding-top: 7px;
      }
    }
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left / 529px auto;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__inner {
  }

  &__box {
    border-radius: 30px;
    background: #fff;
    padding: 60px 20px;

    @include breakpoints.mq(pc) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__title {
  }

  &__form {
    margin-top: 30px;

    @include breakpoints.mq(pc) {
      margin-top: 50px;
      max-width: 612px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__field {
  }

  &__privacy {
    margin-top: 30px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 29px;
    }
  }

  &__button {
    margin-top: 28px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 35px;
    }
  }

  .form-field {
    @include breakpoints.mq(pc) {
      display: flex;
      gap: 32px;
    }

    &__head {
      display: flex;
      gap: 10px;
      align-items: center;

      @include breakpoints.mq(pc) {
        width: calc(212px - 32px);
        flex-shrink: 0;
        justify-content: flex-end;
      }
    }

    &__label {
      font-weight: 700;
      line-height: calc(23 / 16);
    }

    &__tag {
      border-radius: 2px;
      background: #ee8013;
      color: #fff;
      font-size: 11px;
      font-weight: 700;
      line-height: 1; /* 11px */
      letter-spacing: 1.98px;
      display: inline-block;
      padding: 6px 8px 5px;

      &.is-option {
        background: #43b549;
      }
    }

    &__item {
      margin-top: 14px;
      flex-grow: 1;

      @include breakpoints.mq(pc) {
        margin-top: 0;
      }
    }

    .form-select {
      appearance: none;
      width: 100%;
      border-radius: 5px;
      border: 3px solid #111;
      background: #fff;
      font-weight: 700;
      padding: calc(15px - 3px) calc(46px - 3px) calc(14px - 3px)
        calc(16px - 3px);
      background: url(../img/Polygon\ 1.png) no-repeat center right 14px /
        13.217px 10.182px;
      transition: border-color 0.3s;

      &:hover,
      &:focus {
        border-color: #fabe00;
        outline: none;
      }
    }

    .form-textarea {
      width: 100%;
      border-radius: 5px;
      border: 3px solid #111;
      background: #fff;
      padding: calc(16px - 3px);
      height: 180px;

      transition: border-color 0.3s;

      &:hover,
      &:focus {
        border-color: #fabe00;
        outline: none;
      }
    }

    &__radios {
      display: flex;
      flex-direction: column;
      gap: 18px;

      @include breakpoints.mq(pc) {
        flex-direction: row;
        gap: 30px;
      }
    }

    &__radio {
      line-height: calc(23 / 16);
    }
  }

  .form-text {
    border-radius: 5px;
    border: 3px solid #111;
    background: #fff;
    padding: calc(15px - 3px) calc(16px - 3px) calc(14px - 3px);
    width: 100%;
    transition: border-color 0.3s;

    &:hover,
    &:focus {
      border-color: #fabe00;
      outline: none;
    }
  }

  .form-radio {
    &:hover {
      .form-radio__text {
        &::before {
          border-color: #fabe00;
        }
      }
    }

    &__input {
      width: 1px;
      height: 1px;
      position: absolute;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;

      &:checked {
        + .form-radio__text {
          &::after {
            opacity: 1;
          }
        }
      }

      &:focus {
        + .form-radio__text {
          &::before {
            border: 3px solid #fabe00;
          }
        }
      }
    }

    &__text {
      font-weight: 700;
      padding-left: 28px;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
      }

      &::before {
        width: 24px;
        height: 24px;
        border: 3px solid #111;
        left: 0;
        transition: border-color 0.3s;
      }

      &::after {
        width: 10px;
        height: 10px;
        background: #f5810e;
        left: 7px;
        opacity: 0;
      }
    }
  }

  .form-checkbox {
    &:hover {
      .form-checkbox__text {
        &::before {
          border-color: #fabe00;
        }
      }
    }

    &__input {
      width: 1px;
      height: 1px;
      position: absolute;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;

      &:checked {
        + .form-checkbox__text {
          &::after {
            opacity: 1;
          }
        }
      }

      &:focus {
        + .form-checkbox__text {
          &::before {
            border-color: #fabe00;
          }
        }
      }
    }

    &__text {
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      font-weight: 700;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        width: 20px;
        height: 20px;
        border-radius: 1px;
        border: 1px solid #111;
        transition: border-color 0.3s;
      }

      &::after {
        width: 23px;
        height: 17.53px;
        left: -1px;
        margin-top: -1.2px;
        background: url(../img/check-icon.png) no-repeat center center / contain;
        opacity: 0;
      }

      a {
        text-decoration: underline;
        font-weight: inherit;
        transition: color 0.3s;

        &:hover {
          color: #f5810e;
        }
      }
    }
  }
}

.footer {
  background: #111;
  padding-top: 8%;
  padding-bottom: 12px;
  text-align: center;

  &__inner {
  }

  &__copyright {
    color: #f5f5f5;
    font-size: 12px;
    line-height: 1; /* 12px */
    letter-spacing: 0.96px;
  }
}

.pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min(calc(50 / 375 * 100%), 50px);

  @include breakpoints.mq(pc) {
    right: 16px;
    bottom: 30px;
    width: 76px;
  }

  img {
  }
}
