@use "variable";
@use "breakpoints";

body {
  font-size: variable.$font-size-base;
  line-height: variable.$line-height-base;
  color: variable.$color-base;
  background: variable.$background-base;
  font-family: variable.$font-family-ja;
}

.hidden-sp {
  @include breakpoints.mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include breakpoints.mq(pc) {
    display: none;
  }
}

.inner {
  padding-right: 15px;
  padding-left: 15px;
  @include breakpoints.mq(pc) {
    padding-right: 30px;
    padding-left: 30px;
    max-width: calc(variable.$width-inner + 30px * 2);
    margin-right: auto;
    margin-left: auto;
  }
}

.heading {
  text-align: center;
  font-family: variable.$font-family-en;
}

.heading__main {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;

  @include breakpoints.mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading__sub {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.12px;

  @include breakpoints.mq(pc) {
    font-size: variable.$font-size-base;
    font-weight: 400;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  border: 2px solid currentColor;
  border-radius: 60px;
  padding: calc(10px - 2px) calc(30px - 2px);
  display: inline-block;
  background: #fff;
  font-size: 16px;
  line-height: 1.7;
  color: variable.$color-base;
  min-width: 150px;
  text-align: center;

  &--type2 {
    background-color: #111;
    color: #fff;
  }
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 22px 15px;
    @include breakpoints.mq(pc) {
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 21px;
      max-width: calc(variable.$width-inner + 30px * 2);
      margin: 0 auto;
    }
  }

  &__logo {
    @include breakpoints.mq(pc) {
      padding-top: 7px;
    }
    a {
      img {
        width: 100px;
        display: block;
        @include breakpoints.mq(pc) {
          width: 135px;
        }
      }
    }
  }

  &__nav {
    display: none;

    @include breakpoints.mq(pc) {
      display: flex;
      align-items: center;
      gap: 40px;

      a {
        font-weight: 700;
        letter-spacing: 0.48px;
      }
    }
  }

  &__link {
  }

  &__button {
    // border: 2px solid variable.$color-base;
    // border-radius: 60px;
    // padding: calc(10px - 2px) calc(30px - 2px);
    // display: inline-block;
    // background: #fff;
  }

  &__open {
    margin-top: 3px;

    @include breakpoints.mq(pc) {
      display: none;
    }
  }

  .drawer-icon {
    width: 36px;
    height: 21px;
    position: relative;

    &__bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 3px;
      border-radius: 6px;
      background-color: variable.$color-base;

      &:nth-of-type(1) {
      }
      &:nth-of-type(2) {
        top: 9px;
      }
      &:nth-of-type(3) {
        top: 18px;
      }
    }
  }
}

.first-view {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin: 0 auto;
  background: variable.$color-gradation;

  @include breakpoints.mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }

  &__inner {
    padding: 50px 20px 256px;
    position: relative;

    @include breakpoints.mq(pc) {
      padding-top: 110px;
      padding-bottom: 109px;
      padding-left: 30px;
      padding-right: 30px;
      max-width: calc(1040px + 30px * 2);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main-text {
    span {
      font-feature-settings: "palt" on;
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 2.2px;

      display: block;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      background: #fff;
      padding: 10px;
      border-radius: 5px;

      @include breakpoints.mq(pc) {
        font-size: 38px;
        letter-spacing: 3.8px;
        padding: 12px 16px;
        text-align: left;
        margin-right: 0;
        margin-left: 0;
        border-radius: 5px;
      }
    }
  }

  &__main-text1 {
  }

  &__main-text2 {
    margin-top: 8px;

    @include breakpoints.mq(pc) {
      margin-top: 14px;
    }
  }

  &__sub-text {
    text-align: center;
    font-weight: 700;
    margin-top: 26px;
    letter-spacing: 0.48px;

    @include breakpoints.mq(pc) {
      font-size: 18px;
      letter-spacing: 0.54px;
      text-align: left;
      margin-top: 20px;
    }
  }

  &__download {
    margin-top: 22px;
    text-align: center;

    a {
      // text-align: center;
      // font-weight: 700;
      // letter-spacing: 0.48px;
      // color: #fff;
      // display: inline-block;
      // padding: calc(10px - 2px) calc(30px - 2px);
      // border-radius: 60px;
      // border: 2px solid #fff;
      // background: variable.$color-base;
    }

    @include breakpoints.mq(pc) {
      margin-top: 30px;
      text-align: left;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: -106px;
    width: 100%;
    text-align: center;

    @include breakpoints.mq(pc) {
      width: calc(600px / 1040px * 100%);
      text-align: right;
      bottom: -88px;
      right: 30px;
    }

    img {
      width: 345px;

      @include breakpoints.mq(pc) {
        width: 600px;
      }
    }
  }
}

.case {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    margin-top: 82px;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  &__inner {
    padding-left: 40px;
    padding-right: 40px;

    @include breakpoints.mq(pc) {
      max-width: calc(920px + 40px * 2);
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-align: center;

    @include breakpoints.mq(pc) {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  &__items {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 15px;

    @include breakpoints.mq(pc) {
      margin-top: 47px;
      grid-template-columns: repeat(4, 1fr);
      gap: 26px 40px;
    }
  }

  &__item {
    text-align: center;
    img {
    }
  }
}

.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__inner {
    // padding-right: 15px;
    // padding-left: 15px;
    // @include breakpoints.mq(pc) {
    //   padding-right: 30px;
    //   padding-left: 30px;
    //   max-width: calc(variable.$width-inner + 30px * 2);
    //   margin-right: auto;
    //   margin-left: auto;
    // }
  }

  &__card {
    padding: 40px 12px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 9px 30px 0px #f4f4f4;

    @include breakpoints.mq(pc) {
      border-radius: 30px;
      padding-top: 40px;
      padding-bottom: 34px;
      padding-right: calc(105px / 1140px * 100%);
      padding-left: calc(105px / 1140px * 100%);
    }
  }

  &__heading {
    font-family: variable.$font-family-en;
    color: variable.$color-base;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 3.8px;
    text-align: center;

    @include breakpoints.mq(pc) {
      font-size: 50px;
      letter-spacing: 5px;
      text-align: left;
    }
  }

  &__lists {
    margin-top: 28px;
    @include breakpoints.mq(pc) {
      margin-top: 29px;
    }

    > * + * {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: #e3e3e3;
      }
    }
  }

  &__list {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__more {
    margin-top: 18px;
    text-align: right;

    @include breakpoints.mq(pc) {
      margin-top: 15px;
    }
    a {
      font-weight: 700;
      line-height: 1;
      display: inline-block;
      border-bottom: 2px solid #111;
      padding-bottom: calc(10px - 2px);
    }
  }

  .news-link {
    display: flex;
    flex-direction: column; //flexを指定した場合、デフォルトは横並びだがdirectionを指定して縦並びにできる
    gap: 8px;
    padding-top: 9px;
    padding-bottom: 10px;

    @include breakpoints.mq(pc) {
      flex-direction: row;
      padding-top: 12px;
      padding-bottom: 12px;
      gap: 0;
    }

    &__meta {
      display: flex;
      align-items: center;
      gap: 12px;

      @include breakpoints.mq(pc) {
        gap: 14px;
        width: 247px;
        flex-shrink: 0;
      }
    }

    &__date {
      color: #333;
      font-weight: 400;
      white-space: nowrap;

      @include breakpoints.mq(pc) {
        min-width: 119px;
      }
    }

    &__label {
      color: #fff;
      font-size: 11px;
      font-weight: 700;
      border-radius: 2px;
      padding: 2px 10px;
      background: #e4780c;
      min-width: 63px;
      text-align: center;

      &.is-news {
        background: #e4780c;
      }

      &.is-column {
        background: #ecb815;
      }

      &.is-event {
        background: #389b47;
      }
    }

    &__title {
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include breakpoints.mq(pc) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__inner {
    text-align: center;
  }

  &__heading-logo {
    text-align: center;

    img {
      width: 180px;

      @include breakpoints.mq(pc) {
        width: 230px;
      }
    }
  }

  &__contents {
    margin-top: 150px;
    padding-top: 288px;
    padding-bottom: 105px;
    position: relative;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 176px;
      padding-top: 284px;
      padding-bottom: 100px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1100px;
      height: 1100px;
      border-radius: 50%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: variable.$color-gradation;
      z-index: -1;

      @include breakpoints.mq(pc) {
        width: 800px;
        height: 800px;
      }
    }
  }

  &__img {
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    text-align: center;

    @include breakpoints.mq(pc) {
      top: -126px;
    }

    img {
      width: 320px;

      @include breakpoints.mq(pc) {
        width: 330px;
      }
    }
  }

  &__description {
    font-weight: 700;
    line-height: 2.3;
  }

  &__more-text {
    margin-top: 43px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.28px;

    @include breakpoints.mq(pc) {
      margin-top: 43px;
    }
  }

  &__more-button {
    margin-top: 12px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 15px;
    }
    button {
      // font-weight: 700;
      // letter-spacing: 0.48px;
      // border: 2px solid variable.$color-base;
      // border-radius: 60px;
      // padding: calc(10px - 2px) calc(30px - 2px);
      // display: inline-block;
      // background: #fff;
    }
  }
}

.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left / 529px auto;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__heading {
    //text-align: center;
  }

  &__heading-main {
    // font-family: variable.$font-family-en;
    // font-size: 38px;
    // font-weight: 700;
    // line-height: 1;
    // letter-spacing: 3.8px;

    // @include breakpoints.mq(pc) {
    //   font-size: 50px;
    //   letter-spacing: 5px;
    // }
  }

  &__heading-sub {
    // margin-top: 14px;
    // font-family: variable.$font-family-en;
    // font-size: 14px;
    // font-weight: 400;
    // line-height: 1;
    // letter-spacing: 1.12px;

    // @include breakpoints.mq(pc) {
    //   font-size: variable.$font-size-base;
    //   font-weight: 400;
    //   letter-spacing: 1.28px;
    // }
  }

  &__video {
    margin-top: 32px;
    text-align: center;

    @include breakpoints.mq(pc) {
      margin-top: 56px;
    }

    iframe {
      width: 345px;
      max-width: 100%;
      height: auto;
      aspect-ratio: 345 / 194;
      vertical-align: top;

      @include breakpoints.mq(pc) {
        width: 640px;
        height: auto;
        aspect-ratio: 640 / 360;
      }
    }
  }
}

.howto {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 112px;
    margin-top: 104px;

    @include breakpoints.mq(pc) {
      margin-top: 89px;
      gap: 75px;
    }
  }

  &__contents {
    border-radius: 30px;
    background: #fffbf0;
    text-align: center;
    padding: 54px 40px 48px;

    @include breakpoints.mq(pc) {
      border-radius: 40px;
      padding: 44px 96px 56px;
    }
  }

  &__contents-heading {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    position: relative;

    @include breakpoints.mq(pc) {
      font-size: 22px;
      letter-spacing: 2.2px;
      padding-right: 95px;
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
    }

    img {
      width: 85px;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: calc(100% + 16px);

      @include breakpoints.mq(pc) {
        right: 0;
        transform: translateX(0);
        bottom: 0;
      }
    }

    .is-type2 & {
      @include breakpoints.mq(pc) {
        padding-right: 0;
        padding-left: 95px;

        img {
          right: auto;
          left: 0;
        }
      }
    }
  }

  &__contents-steps {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 65px;

    @include breakpoints.mq(pc) {
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      margin-top: 85px;
    }
  }

  &__contents-step {
    padding-top: 50px;
    padding-bottom: 22px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: 3px solid variable.$color-base;
    background: #fff;
    position: relative;

    @include breakpoints.mq(pc) {
      //width: 300px;
      //padding: 50px 50px 26px;
      // width: calc(33.3% - 24px * 2 / 3);
      flex: 1;
    }

    .steps {
      border-radius: 45px;
      border: 3px solid variable.$color-base;
      background: #f5810e;
      width: 90px;
      height: 90px;
      font-family: Montserrat;
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -48px;
      left: 50%;
      transform: translateX(-50%);

      .is-type2 & {
        background: #fabe00;
      }
    }

    .step-text {
      font-size: 13px;
      font-weight: 700;
      line-height: 1; /* 13px */
      letter-spacing: 1.3px;
    }

    .step-num {
      color: #fff;
      font-size: 34px;
      font-weight: 700;
      line-height: 1; /* 34px */
      letter-spacing: 3.4px;
    }

    .step-image {
      img {
        width: 160px;

        @include breakpoints.mq(pc) {
          width: 200px;
        }
      }
    }

    .step-contents-text {
      margin-top: 8px;
      font-weight: 700;
      letter-spacing: 0.48px;
    }
  }
}
