@use "breakpoints";
@use "var";

body {
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  color: #333;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  line-height: 1.7;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;

    @include breakpoints.mq(pc) {
      align-items: center;
      padding-right: 40px;
      padding-left: 40px;
      max-width: calc(1200px + 40px * 2);
      margin: 0 auto;
    }
  }

  &__logo {
    img {
      width: 160px;
    }
  }

  &__nav {
    display: none;

    @include breakpoints.mq(pc) {
      display: flex;
      gap: 44px;
      align-items: center;
    }
  }

  &__link-logo {
  }

  &__link {
    color: #333;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 27.2px */
  }

  &__register {
    display: none;

    @include breakpoints.mq(pc) {
      display: inline-block;
      color: #f6f7f7;
      text-align: center;
      font-family: Noto Sans JP;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 170%; /* 27.2px */
      letter-spacing: 3px;
      padding: 9px 54px;
      border-radius: 48px;
      background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
      box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    }
  }

  &__open {
    @include breakpoints.mq(pc) {
      display: none;
    }
  }

  .drawer-icon {
    width: 36px;
    height: 21px;
    position: relative;
    z-index: 51;

    &.is-checked {
      .drawer-icon__bar {
        &:nth-of-type(1) {
          top: 10px;
          transform: rotate(45deg);
          background: #fff;
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:nth-of-type(3) {
          top: 10px;
          transform: rotate(-45deg);
          background: #fff;
        }
      }
    }

    &__bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 3px;
      border-radius: 6px;
      background-color: #2082e0;
      transition: transform 0.3s linear, top 0.3s linear;

      &:nth-of-type(1) {
      }
      &:nth-of-type(2) {
        top: 10px;
      }
      &:nth-of-type(3) {
        top: 20px;
      }
    }
  }
}

.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(34, 142, 221, 0.9) 0%,
    rgba(43, 198, 201, 0.9) 100%
  );
  z-index: 50;
  padding: 130px 125px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }

  &__header-logo {
    img {
    }
  }

  &__menu {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__link {
    text-align: center;
  }
}

.inner {
}

.heading {
  margin-left: 15px;

  @include breakpoints.mq(pc) {
    display: flex;
    gap: 28px;
    align-items: center;
    margin-left: 0;
  }
}

.heading__main {
  color: #228ddd;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 170%; /* 61.2px */
  letter-spacing: 3.6px;
}

.heading__sub {
  color: #228bde;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 2.66px;
}

.button {
  text-align: center;
  margin-top: 46px;

  @include breakpoints.mq(pc) {
    margin-top: 60px;
  }

  @include breakpoints.mq(tb) {
    margin-top: 60px;
  }

  a {
    color: #f6f7f7;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 170%; /* 27.2px */
    letter-spacing: 3px;
    display: inline-block;
    padding: 9px 54px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
    box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
  }
}

.blog {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 428px;

  @include breakpoints.mq(pc) {
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1280px;
  }

  @include breakpoints.mq(tb) {
    max-width: 834px;
  }

  &__inner {
    padding-right: 30px;
    padding-left: 30px;

    @include breakpoints.mq(pc) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @include breakpoints.mq(tb) {
      padding-right: 47px;
      padding-left: 47px;
    }
  }

  &__items {
    margin-top: 46px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;

    @include breakpoints.mq(pc) {
      margin-top: 52px;
      grid-template-columns: repeat(3, 1fr);
      gap: 34px 20px;
    }

    @include breakpoints.mq(tb) {
      margin-top: 60px;
      grid-template-columns: repeat(2, 1fr);
      gap: 34px 20px;
    }
  }

  &__item {
    padding-top: 12px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 16px;
    position: relative;
    border-radius: 4px;
    box-shadow: 5px 7px 34px 0px #f1f1f1;
    img {
      width: 330px;
    }
  }

  &__label {
    position: absolute;
    top: 12px;
    right: 15px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    background: #2392db;
    padding: 3px 32px;
  }

  &__contents-title {
    margin-top: 6px;
    font-size: 15px;
    font-weight: 700;
    line-height: 170%; /* 25.5px */
  }

  &__contents {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 170%; /* 22.1px */
  }

  &__more {
    // text-align: center;
    // margin-top: 46px;

    // @include breakpoints.mq(pc) {
    //   margin-top: 60px;
    // }

    // @include breakpoints.mq(tb) {
    //   margin-top: 60px;
    // }

    // a {
    //   // color: #f6f7f7;
    //   // text-align: center;
    //   // font-size: 16px;
    //   // font-weight: 700;
    //   // line-height: 170%; /* 27.2px */
    //   // letter-spacing: 3px;
    //   // display: inline-block;
    //   // padding: 9px 54px;
    //   // justify-content: center;
    //   // align-items: center;
    //   // gap: 10px;
    //   // border-radius: 48px;
    //   // background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
    //   // box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    // }
  }
}

.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;

    @include breakpoints.mq(pc) {
      max-width: calc(930px + 15px * 2);
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__heading {
    color: #238fdc;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 170%; /* 51px */
    letter-spacing: 3px;
    position: relative;

    &::after {
      content: "";
      width: 60px;
      height: 3px;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background: #2bc8c8;
    }
  }

  &__items {
    margin-top: 46px;

    @include breakpoints.mq(pc) {
      margin-top: 60px;
    }

    > * + * {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: #e3e3e3;
      }
    }
  }

  &__item {
    &:last-child {
      border-bottom: 1px solid #e3e3e3;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include breakpoints.mq(pc) {
      flex-direction: row;
      gap: 30px;
      flex-shrink: 0;
      align-items: center;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__time {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%; /* 23.8px */

    @include breakpoints.mq(pc) {
      min-width: 119px;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 400;
    line-height: 170%; /* 25.5px */
  }

  &__more {
    margin-top: 46px;

    @include breakpoints.mq(pc) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 26px;
    }
  }

  &__pagenation {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__more-page {
  }

  &__more-button {
    margin-top: 30px;
    text-align: center;
    @include breakpoints.mq(pc) {
      margin-top: 0;
    }

    a {
      color: #2392db;
      font-weight: 700;
      line-height: 170%; /* 27.2px */
      letter-spacing: 3px;
      padding: 5px 24px;
      border-radius: 2px;
      border: 1px solid #2392db;
      box-shadow: 4px 3px 26px 0px rgba(0, 0, 0, 0.16);
    }
  }
}

.num {
  color: #707070;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  //line-height: 1; /* 18px */
  letter-spacing: 1.44px;
  //padding: 9px 13px 9px 12px;
  width: 36px;
  height: 36px;
  border: 1px solid #828282;
  text-align: center;
  line-height: 36px;
}

.concept {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
    //margin-right: auto;
    //margin-left: auto;
  }

  &__inner {
    padding-right: 20px;
    padding-left: 20px;

    @include breakpoints.mq(pc) {
      max-width: calc(980px + 20px * 2);
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__contents {
    @include breakpoints.mq(pc) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;
    }
  }

  &__image {
    text-align: center;
    flex-shrink: 0;
    img {
      width: 310px;

      @include breakpoints.mq(pc) {
        width: 450px;
      }
    }
  }

  &__text {
    margin-top: 30px;

    @include breakpoints.mq(pc) {
      margin-top: 0;
      text-align: left;
    }
  }

  &__heading {
    color: #228ddd;
    font-size: 24px;
    font-weight: 700;
    line-height: 170%; /* 40.8px */
    text-align: left;
  }

  &__description {
    margin-top: 30px;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 200%; /* 30px */
  }

  &__button {
    margin-top: 30px;

    @include breakpoints.mq(pc) {
      margin-top: 36px;
      text-align: left;
    }
  }
}

.seminar {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;

    @include breakpoints.mq(pc) {
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  &__boxes {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include breakpoints.mq(pc) {
      margin-top: 38px;
      max-width: 1080px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__box {
    border-radius: 6px;
    border: 0px solid #707070;
    background: #fff;
    box-shadow: 5px 7px 34px 0px #f1f1f1;
    padding: 24px 12px calc(30px - 2px);

    @include breakpoints.mq(pc) {
      padding: 24px 24px calc(24px - 2px);
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }

  &__image {
    text-align: center;
    @include breakpoints.mq(pc) {
      width: calc(324 / (1080 - 24 * 2) * 100%);
    }
    img {
      width: 324px;
    }
  }

  &__body {
    margin-top: 22px;

    @include breakpoints.mq(pc) {
      width: calc(678 / (1080 - 24 * 2) * 100%);
      margin-top: 2;
    }
  }

  &__meta {
    display: flex;
    gap: 10px;
  }

  &__label {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 6px 12px 5px;
    border-radius: 2px;
    background: #2392db;
    display: inline-block;
  }

  &__time {
    color: #333;
    text-align: right;
    font-weight: 500;
    line-height: normal;
  }

  &__lead {
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  &__text {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 170%; /* 23.8px */
  }

  &__detail {
    margin-top: 22px;
    text-align: right;

    @include breakpoints.mq(pc) {
      margin-top: 20px;
    }
    a {
      color: #2392db;
      font-size: 14px;
      font-weight: 500;
      line-height: 170%; /* 23.8px */
      padding: 8px 44px;
      border-radius: 2px;
      border: 1px solid #2392db;
      display: inline-block;
    }
  }
}

.price {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f4fbff;

  @include breakpoints.mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;

    @include breakpoints.mq(pc) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__boxes {
    margin-top: 46px;
    margin-right: calc(64px - 30px);
    margin-left: calc(64px - 30px);
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include breakpoints.mq(pc) {
      margin-top: 40px;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      max-width: calc(900px + 30px * 2);
      margin-left: auto;
      margin-right: auto;
      overflow-x: auto;
    }
  }

  &__box {
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    border: 0px solid #707070;
    background: #fff;
    flex: 1;
  }

  &__plan-name {
    color: #2392db;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }

  &__plan-price {
    margin-top: 10px;
    font-weight: 700;

    span {
      color: #2392db;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px; /* 133.333% */
      letter-spacing: 3.6px;
      margin-right: 4px;
      margin-left: 4px;
    }
  }

  &__content {
    margin-top: 30px;
    overflow-x: auto;
  }

  &__table {
    width: 261px;
    table-layout: fixed;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

    th {
      text-align: left;
      padding-left: 12px;
    }

    td {
      text-align: right;
      padding-right: 12px;
    }

    th,
    td {
      vertical-align: middle;
    }

    tr {
      height: 39px;
      border-bottom: 1px solid #c2c2c2;
    }
  }

  &__button {
  }
}

.footer {
  padding-top: 46px;
  padding-bottom: 11px;
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  text-align: center;
  color: #fff;
  font-weight: 500;

  @include breakpoints.mq(pc) {
    padding-top: 64px;
  }

  &__inner {
    padding-right: 15px;
    padding-left: 15px;

    @include breakpoints.mq(pc) {
      padding-left: 30px;
      padding-right: 30px;
      max-width: calc(1280px - (109px + 230px));
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;

    @include breakpoints.mq(pc) {
      flex-direction: row;
      gap: 87px;
    }
  }

  &__company-info {
    img {
      width: 160px;

      @include breakpoints.mq(pc) {
        flex-shrink: 0;
      }
    }

    @include breakpoints.mq(pc) {
      text-align: left;
    }
  }

  &__access {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(20 / 14);
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;

    @include breakpoints.mq(pc) {
      margin-top: 16px;
    }
  }

  &__address {
    font-weight: 400;
    line-height: 1.7;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    @include breakpoints.mq(pc) {
      flex-direction: row;
      gap: 0;
      flex-shrink: 0;
    }
  }

  &__contact {
    @include breakpoints.mq(pc) {
      padding-right: 25px;
    }
  }

  &__privacy-policy {
    @include breakpoints.mq(pc) {
      padding-right: 25px;
      padding-left: 25px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }

  &__tokusho {
    @include breakpoints.mq(pc) {
      padding-left: 25px;
    }
  }

  &__icons {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
  }

  &__copyright {
    margin-top: 36px;
    padding-top: 11px;
    small {
      font-style: normal;
      font-weight: 500;
      line-height: calc(17 / 12);
    }
  }
}
